$arrowBgColor = #ccc

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py

// Houk Theme Colors
$accentColor = hsl(0, 60%, 45%)
$textColor = hsl(206, 9%, 15%)
$darkTextColor = hsl(206, 9%, 15%)
$darkTextHLColor = hsl(0, 39%, 65%)
$borderColor = #eaecef
$btnBgColor = linear-gradient(
  45deg,
  $accentColor 0%,
  $accentColor 12%,
  lighten($accentColor, 40%) 67%,
  lighten($accentColor, 20%) 99%,
  $accentColor 100%
)
$codeBgColor = #282c34
$bgColor = #fff
$shadowColor = #888888

:root
  --bg-color: $bgColor
  --border-color: $borderColor
  --text-color: $textColor
  --darken-text-color: $darkTextColor
  --shadow-color: $shadowColor
  --button-text-color: #fff

// Dark theme colors
@media (prefers-color-scheme: dark)
  :root
    --bg-color: hsl(206, 9%, 15%)
    --border-color: #888888
    --text-color: #fff
    --darken-text-color: #eaecef
    --shadow-color: black
