// colors
$accentColor = hsl(0, 60%, 45%)
$textColor = hsl(206, 9%, 15%)
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

$darkTextColor = hsl(206, 9%, 15%)
$darkTextHLColor = hsl(0, 39%, 65%)
$borderColor = #eaecef
$btnColorPrimary = linear-gradient(
  45deg,
  $accentColor 0%,
  $accentColor 12%,
  lighten($accentColor, 40%) 67%,
  lighten($accentColor, 20%) 99%,
  $accentColor 100%
)
$btnColorSecondary = #eee
$codeBgColor = #282c34
$bgColor = #fff
$shadowColor = rgba(190, 190, 190, 0.5)
$error = #D92525
$success = #529214

:root
  --bg-color: $bgColor
  --btn-color-primary: $btnColorPrimary
  --btn-color-secondary: $btnColorSecondary
  --border-color: $borderColor
  --text-color: $textColor
  --darken-text-color: $darkTextColor
  --shadow-color: $shadowColor
  --shadow-mid-color: lighten($shadowColor, 10%)
  --box-shadow-back: 0px 1px 1px $shadowColor
  --box-shadow-mid: 0px 1px 1.5px 1.5px lighten($shadowColor, 5%)
  --button-text-color: #fff

// Dark theme colors
@media (prefers-color-scheme: dark)
  :root
    --bg-color: darken($bgColor, 80%)
    --btn-color-secondary: darken($btnColorSecondary, 70%)
    --border-color: darken($borderColor, 50%)
    --text-color: #fff
    --darken-text-color: #eaecef
    --shadow-color: darken($shadowColor, 20%)
    --shadow-mid-color: darken($shadowColor, 10%)
    --box-shadow-back: 0px 1px 1px darken($shadowColor, 80%)
    --box-shadow-mid: 0px 1px 1.5px 1.5px darken($shadowColor, 75%)