body {
  background-color: var(--background-color);
  color: var(--text-color);
}
#vuepress-theme-blog__global-layout {
  background-color: var(--foreground-color);
  color: var(--text-color);
  #header,
  .mobile-header-bar,
  .mobile-menu-wrapper {
    background-color: var(--background-color);
    color: var(--text-color);
    .mobile-home-link {
      color: var(--text-color);
    }
    .nav {
      a:hover,
      .router-link-active {
        border-bottom: 2px solid var(--accent-color);
      }
    }
    .search-box {
      .suggestions {
        background-color: var(--background-color);
        color: var(--text-color);
        .suggestion .focused {
          background-color: var(--foreground-color);
        }
      }
    }
  }
  .content-wrapper {
    .ui-post-summary {
      color: var(--text-color);
    }
    .ui-post-meta {
      color: var(--text-color);
    }
    .post-tag {
      background-color: var(--foreground-color);
      border-radius: 3px;
      &:hover {
        background-color: var(--accent-color);
        &::after {
          border-left: 10px solid var(--accent-color);
        }
      }
      a {
        &::after {
          background: var(--foreground-color);
        }
      }
    }
    .pagination {
      a {
        background-color: var(--foreground-color);
      }
      .active {
        a {
          background-color: var(--accent-color);
        }
      }
    }
  }
  .vuepress-blog-theme-content {
    background-color: var(--foreground-color);
    border-radius: 5px;
    color: var(--text-color);
    padding: 0;
    
  }
  .footer {
    min-height: 0;
    padding: 14px 32px;
  }
  a {
    text-decoration: none;
    color: var(--text-color);
  }
}

@media (min-width: 957px) {
  #vuepress-theme-blog__global-layout {
    background-color: var(--background-color);

    .vuepress-blog-theme-content {
      padding: 1.5rem;
    }
  }
}