$accentColor = hsl(0, 70%, 45%)
$textColor = hsl(206, 9%, 15%)
$darkTextColor = hsl(206, 9%, 15%)
$darkTextHLColor = hsl(206, 9%, 35%)
$borderColor = #eaecef
$codeBgColor = #282c34
$bgColor = hsl(206, 9%, 15%)